<p-toast />
<div class="card flex justify-center">
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="flex flex-col gap-4 w-full sm:w-56">
        <div class="flex  gap-5">
            <div class="flex-col">
                <input pInputText type="text" id="nome" placeholder="Nome" formControlName="nome" [invalid]="isInvalid('nome')" />
                @if (isInvalid('nome')) {
                    <p-message severity="error" size="small" variant="simple">O nome é obrigatório</p-message>
                }
            </div>

            <div class="flex-col">
                <input pInputText type="text" id="sobrenome" placeholder="Sobrenome" formControlName="sobrenome" [invalid]="isInvalid('sobrenome')" />
                @if (isInvalid('sobrenome')) {
                    @if (form.get('sobrenome')?.errors?.['required']) {
                        <p-message severity="error" size="small" variant="simple">O sobrenome é obrigatório</p-message>
                    }
                }
            </div>
        </div>
        <div class="flex flex-col gap-1">
            <input pInputText type="email" id="email" placeholder="Email" formControlName="email" [invalid]="isInvalid('email')" />
            @if (isInvalid('email')) {
                @if (form.get('email')?.errors?.['required']) {
                    <p-message severity="error" size="small" variant="simple">O email é obrigatório</p-message>
                }
                @if (form.get('email')?.errors?.['email']) {
                    <p-message severity="error" size="small" variant="simple">Please enter a valid email.</p-message>
                }
            }
        </div>
        <div class="flex flex-col gap-1">
<p-select [options]="functions" optionLabel="name" formControlName="funcao"  placeholder="Select a City" class="w-full md:w-56" [invalid]="isInvalid('funcao')" />
            @if (isInvalid('funcao')) {
                @if (form.get('funcao')?.errors?.['required']) {
                    <p-message severity="error" size="small" variant="simple">A funcao é obrigatória</p-message>
                }
                @if (form.get('funcao')?.errors?.['funcao']) {
                    <p-message severity="error" size="small" variant="simple">Please enter a valid function.</p-message>
                }
            }
        </div>
        <button pButton severity="secondary" type="submit"><span pButtonLabel>Submit</span></button>
    </form>
</div>