<div class="max-w-6xl mx-auto p-6">
  <!-- Container das cartas -->
  <div class="grid grid-cols-1 md:grid-cols-4 gap-8 mb-24">
    
 <div class="bg-primary rounded-xs shadow-xl p-3 flex flex-col items-center">
<div class="header flex justify-between w-full items-center">
  <p class="text-md font-semibold">Realizadas</p>
<p-avatar icon="pi pi-check-circle" class="mr-2 bg-surface"  shape="circle" />
</div>
<div class="content w-full mt-3">
<p class="text-6xl text-center">
  628
</p>
</div>
    </div>

      <div class="bg-primary rounded-xs shadow-xl p-3 flex flex-col items-center">
<div class="header flex justify-between w-full items-center">
  <p class="text-md font-semibold">Novas</p>
<p-avatar icon="pi pi-plus-circle" class="mr-2 bg-surface"  shape="circle" />
</div>
<div class="content w-full mt-3">
<p class="text-6xl text-center">
  {{ novas }}
</p>
</div>
    </div>

     <div class="bg-primary rounded-xs shadow-xl p-3 flex flex-col items-center">
<div class="header flex justify-between w-full items-center">
  <p class="text-md font-semibold">Andamento</p>
<p-avatar icon="pi pi-sync" class="mr-2 bg-surface"  shape="circle" />
</div>
<div class="content w-full mt-3">
<p class="text-6xl text-center">
  {{andamento}}
</p>
</div>
    </div>

        <div class="bg-primary rounded-xs shadow-xl p-3 flex flex-col items-center">
<div class="header flex justify-between w-full items-center">
  <p class="text-md font-semibold">Concluidas</p>
<p-avatar icon="pi pi-flag" class="mr-2 bg-surface"  shape="circle" />
</div>
<div class="content w-full mt-3">
<p class="text-6xl text-center">
  {{concluidas}}
</p>
</div>
    </div>
</div>
    
 <div class="grid grid-cols-1 md:grid-cols-4 gap-8">
   <div class="col-span-3">
     <div class="bg-emphasis shadow-xl rounded-xs p-6 flex flex-col items-center col-span-3 w-full">
         <h2 class="text-xl font-semibold mb-6 text-center">Quantidade de concluidas por Mês</h2>
         <p-chart type="bar" [data]="basicData2"  [options]="basicOptions" [style]="{width: '100%'}" class="h-[25rem]"></p-chart>
       </div>
     <div class="bg-emphasis shadow-xl rounded-xs p-6 flex flex-col items-center col-span-3 w-full mt-8">
       <h2 class="text-xl font-semibold mb-6 text-center">Quantidade de denúncias atendidas por usuário</h2>
       <p-chart type="bar" [data]="basicData" [options]="basicOptions" [style]="{width: '100%'}" class="h-[15rem]"></p-chart>
     </div>
     
    
   </div>
    
    <div class="bg-emphasis shadow-xl rounded-xs p-6 flex flex-col items-center">
     <p-chart type="doughnut" [data]="basicData" [options]="basicOptions2" [style]="{width: '100%', maxWidth: '350px'}" ></p-chart>
   </div>

  </div>
</div>
