  <div class="min-h-screen flex items-center justify-center bg-gray-100">
      <div class="w-full h-screen sm:h-auto sm:max-w-lg bg-white rounded-none sm:rounded-2xl shadow-lg p-8 flex flex-col justify-center">
        <h2 class="text-2xl font-bold text-center text-gray-800 mb-6">Cadastro</h2>
      
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="space-y-5">
          <!-- Nome -->
          <div>
            <label for="nome" class="block text-sm font-medium text-gray-700">Nome</label>
            <input
              type="text"
              id="nome"
              name="nome"
              required
              maxlength="255"
              class="w-full mt-1 px-4 py-2 border border-gray-300 rounded-xl focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500"
              
              formControlName="nome"
            />
          </div>
          <!-- Sobrenome -->
          <div>
            <label for="sobrenome" class="block text-sm font-medium text-gray-700">Sobrenome</label>
            <input
              type="text"
              id="sobrenome"
              name="sobrenome"
              required
              maxlength="255"
              class="w-full mt-1 px-4 py-2 border border-gray-300 rounded-xl focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500"
              formControlName="sobrenome"
            />
          </div>
          <!-- Email -->
          <div>
            <label for="email" class="block text-sm font-medium text-gray-700">E-mail</label>
            <input
              type="email"
              id="email"
              name="email"
              required
              maxlength="255"
              class="w-full mt-1 px-4 py-2 border border-gray-300 rounded-xl focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500"
              formControlName="email"
            />
          </div>
          <!-- Senha -->
          <div>
            <label for="senha" class="block text-sm font-medium text-gray-700">Senha</label>
            <input
              type="password"
              id="senha"
              name="senha"
              required
              maxlength="255"
              class="w-full mt-1 px-4 py-2 border border-gray-300 rounded-xl focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500"
              formControlName="senha"
            />
          </div>

          <div>
        <label for="confirmarSenha" class="block text-sm font-medium text-gray-700">Confirmar Senha</label>
        <input
          type="password"
          id="confirmarSenha"
          name="confirmarSenha"
          required
          maxlength="255"
          class="w-full mt-1 px-4 py-2 border border-gray-300 rounded-xl focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500"
          formControlName="confirmarSenha"
        />
      </div>

          <!-- Botão -->
          <button
            type="submit"
            [disabled]="!registerForm.valid"
            [class]="{'bg-gray-400': !registerForm.valid, 'bg-blue-600' : registerForm.valid, ' hover:bg-blue-700' : registerForm.valid, 'cursor-pointer' : registerForm.valid}"
            class="w-full text-white py-2 rounded-xl font-semibold transition">
            Cadastrar
          </button>
        </form>
        <p class="text-sm text-center text-gray-600 mt-6">
          Já tem conta?
          <a href="login.html" routerLink="/" class="text-blue-600 font-medium hover:underline">Entrar</a>
        </p>
      </div>
  </div>
